/* src/components/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  /* background: rgba(0, 0, 0, 0.5); 
  transition: background-color 0.3s; */
  background: black; /* Initially transparent */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffd700; /* Gold color on hover */
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-scrolled {
  background: rgba(0, 0, 0, 0.8); /* Darker background when scrolled */
}
