.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #892d2d60; /* White background */
  transition: background-color 0.8s ease, box-shadow 0.8s ease;
}


.navbar-scrolled {
  background-color: #032d64; 
  color:#ffd700
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: #fffbfb;
  transition: color 0.3s;
}

/* .navbar-nav .nav-item .nav-link:hover {
  color: #ffd700; 
}  */

.navbar-toggler {
  border-color: #333;
}

.navbar-toggler-icon {
  background-color: #333;
}
